@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,800&display=swap');



body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px repeat(4, 1fr) 100px;
    margin: 0;
}
@media (min-width: 1025px) {
    /* CSS for desktops */
}

@media (max-width: 670px) {
    /* CSS for tablets */
    body {
        grid-template-rows: 200px repeat(4, 1fr) 100px;
    }
}

main {
    grid-area: 2 / 1 / 6 / 7;
    background-color: #a8e0ff;
}

footer {
    grid-area: 6 / 1 / 7 / 7;
    background-color: #70CAD1;
}

nav {
    grid-area: 1 / 1 / 2 / 7;
    background-color: #70CAD1;
    /* margin: auto; */
}
.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: auto;
    padding: 10px;
    
}

.nav-search {
    margin: auto;
}

.nav-sort {
    margin:auto;
}

.nav-reset {
    margin: auto;
}
.event-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 10px;
    /* align-items: center; */
    justify-content: center;
    /* justify-items: center; */
    padding: 30px;

    min-height: calc(100vh - 200px);
}
.event {
    background-color: #70CAD1;
    color: black;
    width: 100%;
    min-height: 460px;
    height: 100%;
    display: flex;
    flex-direction: column;

    border-radius: 20px;
}

.nav-reset > button {
    margin-top: auto;
    margin-bottom: auto;
    background: none;
    border: none;
}

.ev-name{
    margin: 0px;
    margin-left: 4px;
    margin-top: 4px;
    font-size: 1.25rem;
}
.ev-description {
    margin: 1px;
    margin-left: 4px;
    font-size: 11px
}

.ev-price {
    margin-left: 4px;
}

.ev-time {
    margin-left: 4px;
}

.ev-button-container {
    display: flex;

    justify-content: center;
    margin-top: auto;
    margin-bottom: 10px;

    width: 100%
}

.ev-button {
    width: 80px;
    background-color: #3E517A;
    color: white;
    border: none;
    border-radius: 10px;
}

.registered {
    background-color: #b08ea2;
}

.ev-image {
    border-radius: 20px 20px 0px 0px;
}


.nav-bar {
    display: flex;
}